<div class="chat-message">
	<h5 class="message-created-at"><%= l message.created_at, format: :time_only %></h5>&nbsp;
	<h5 class="message-username">
		<%= link_to message.user.username, 
			controller: "users", 
			action: "show", 
			id: message.user_id %>
</h5>
	<h3 class="message-text"><%= message.text %></h3>
</div>
