$header-height: 40px;
$header-color: #b2dbd5;
$button-color: #2b616d;
$button-color-hover: #ffffff;
$button-background-color-hover: #fa8d62;

@import 'general/fonts';

header {

	width: 100%;
	height: $header-height;
	background-color: $header-color;

	.header-button {
		font-size: 16px;
		text-decoration: none;
		padding: 10px 10px 10px 10px;
		float: right;
		font-family: 'Lato';
		font-weight: bold;

		&:hover {
			background-color: $button-background-color-hover;
			color: $button-color-hover;
		}
	}

	a {
		color: $button-color;
	}

	.login-out {
		float: right;
	}
}
