$textarea-color: #b2dbd5;
$button-color: #ffffff;
$button-background-color: #fa8d62;

@import 'general/fonts';

.room-name {
	font-family: 'Lato';
}

.messages-wrapper {
	height: 400px;
}

.messages-container {
	height: 400px;
	width: 70%;
	margin-left: 15%;
	overflow-y: scroll;
}

.message-form {
	position: relative;
	width: 80%;
	margin-left: 10%;

	.message-area {
		position: relative;
		width: 100%;
		resize: none;
		height: 100px;
		border: 5px solid $textarea-color;
	}

	.message-submit {
		color: $button-color;
		background-color: $button-background-color; 
		border: none;
		outline: none;
		width: 70%;
		margin-left: 15%;
	}
	
}
