$text-color: #2b616d;
$created-at-color: #b2dbd5;
$username-color: #fa8d62;

@import 'general/fonts';

.chat-message {

	//height: 100px;
	border: 1px solid black;

	.message-created-at, .message-username {
		display: inline;
	}

	.message-created-at {
		color: $created-at-color;
	}

	.message-username {
		a {
			color: $username-color;
			text-decoration: none;
			font-family: 'Lato';

			&:hover {
				text-decoration: underline;
			}

		}
	}

	.message-text {
		font-size: 0.8em;
		color: $text-color; 
	}
}
