<%= content_for :title, "##{params[:id]} room" %>
<%= javascript_include_tag :messages %>
<%= hidden_field_tag('room-id', params[:id]) %>

<h3 class="room-name">This is room <%= @room.id %> with name "<%= @room.name %>"</h3>
<%#<h1><%= Rails.env </h1>%>

<div class="messages-container">
	<%= render @messages %>
</div>

<%= form_for (@new_message), remote: true, url: room_messages_path(params[:id]), html: { class: "message-form"} do |form| %>
	<%= form.text_area :text, class: "message-area" %>
	<%= form.submit "Send", class: "message-submit" %>
<% end %>
