<header>
	<% if current_user %>
		<%= link_to 'Log out', 
			destroy_user_session_path, 
			class: "header-button login-out",
			method: :delete %>
		<%= link_to 'Rooms', 
			rooms_path, 
			class: "header-button" %>
	<% else %>
		<%= link_to 'Log in',
			new_user_session_path,
			class: "header-button login-out" %>
	<% end %>
</header>
